In [1]:
print("hi")

hi

In [2]:
a=10/3
print(a)

3.3333333333333335

In [3]:
a = "Life is too short"
len(a)

17

In [4]:
a = "Life is too short, You need Python"
a[0]

'L'

In [5]:
print ("오늘은", "일요일")

오늘은 일요일

In [7]:
print("first", end=""); print("second")

firstsecond

In [8]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
s = "hello"
t = "python"
print(s+"!", t)

In [9]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [10]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [11]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [19]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [21]:
string = 'abcd'
string=string.replace('b', 'B')
print(string)

aBcd

In [22]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [23]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [24]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [29]:
data = "    039490     1"
data = data.lstrip()
print(data)

039490     1

In [30]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [31]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [33]:
a= {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys())
li=list(a.keys())
print(li)

print(a.items())

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [35]:
money = 2000
if money >= 3000:
     print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [37]:
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
say_myself("박응용", 27)
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [39]:
def add(a, b):
    return a+b

result = add(3, 4)
print(result)

7